@import '../../../common';

.header-full-content{
    width: 100%;
    height: 10vh;
    background-color: $background-color-two;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;

    >.header-mid-content{

        max-width: 1440px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        >*{
            margin: 0px 3vw 0px 3vw;
        }
    }


}

@media (max-width: 693px) {
    .header-full-content{
        height: 8vh;
    }
}