@import '../../../common';

.header-full-content{
    background-color: $background-color-two;
    max-width: 100vw;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >*{
        margin: 0px 3vw 0px 3vw;
    }

}