@import '../../common';

.logo-full-content{

    >*{
        color:$text-color-secondary;
        display: flex;
        align-items: flex-end;
        // justify-content: flex-end;
        width: fit-content;
        gap: 0.5rem;
        font-size: 2.5rem;

        >*{
            color:$text-color-secondary;
            align-self: center;
            padding-top: 0.5rem;
        }
    }
}