.home-full-content{
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // height: fit-content;
    
    
    .home-mid-content{
        margin: clamp(22px, 8.5%, 116px) clamp(0px, 17%, 255px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 938px;
        width: 100%;
        gap: 22px;

    }
}

