.home-full-content{
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    .home-mid-content{
        margin: clamp(58px, 8.5%, 116px) clamp(0px, 17%, 255px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
        background-color: lightblue;
        max-width: 938px;
        width: 100%;

    }

    width: 100vw;
}

